# Allow testing with latest versions.
codespell==2.4.2
coverage==7.13.5
flake8==7.3.0
flake8-bugbear==25.11.29
mypy==1.20.2
pep8-naming==0.15.1
pypdf==6.10.2
requests==2.33.1
types-requests==2.33.0.20260408
