# Allow testing with latest versions.
codespell==2.4.1
coverage==7.10.3
flake8==7.3.0
flake8-bugbear==24.12.12
mypy==1.17.1
pep8-naming==0.15.1
pypdf==5.9.0
requests==2.32.4
types-requests==2.32.4.20250611
